.applink {
  color: var(--color-neutral-60);
  text-decoration-line: underline;
  transition: color var(--transition-delay-fast) ease;

  &__small {
    font-size: 12px;
    font-weight: 400;
  }

  &__medium {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }

  &:hover {
    color: var(--color-primary-90);
  }

  &:active {
    color: var(--color-neutral-60);
  }
}
