body {
  font-family: var(--font-family);
  color: var(--color-default);
  background: var(--bg);
  transition: all var(--transition-delay-fast);
}

[class*='__container'] {
  max-width: var(--width-container);
  padding: var(--padding-container);
  margin: 0 auto;
  overflow-x: hidden;
}
