:root {
  --font-family: rubik;
  --color-white: #fff;
  --color-light-bg: #f4f9fd;
  --color-light-border: #f0f0f0;
  --color-counter-bg: #ebf3ff;
  --color-counter-yellow-bg: #ffbd21;
  --color-neutral-100: #000;
  --color-neutral-80: #444;
  --color-neutral-60: #888;
  --color-neutral-40: #bfbfbf;
  --color-gray2: #939393;
  --color-light-gray: #7d8592;
  --color-primary-100: #4db02a;
  --color-primary-90: #3f8cff;
  --color-light-blue: #3f8cff26;
  --transition-delay-extrafast: 100ms;
  --transition-delay-fast: 300ms;
  --transition-delay-middle: 600ms;
  --width-container: 1430px;
  --padding-container: 15px;
}

// BREAKPOINTS
$foo-mobile-bp: 500px;
$foo-tablet-bp: 768px;
