:root {
   --font-family: Rubik;

   --color-white: #fff;
   --color-neutral-100: #000;
   --color-neutral-60: #888;
   --color-neutral-40: #bfbfbf;
   --color-gray2: #939393;
   --color-primary-100: #4db02a;
   --color-primary-90: #3f8cff;

   --transition-delay-fast: 0.3s;
}