:root {
  // font
  --font-family: rubik;

  // colors
  --color-default: #000;
  --color-default-invert: #fff;
  --bg: #ccc;
  --bg-dark: #fff;
  --color-neutral-40: #bfbfbf;
  --color-neutral-60: #888;
  --color-neutral-80: #444;
  --color-primary-20: #3f8cff26;
  --color-primary-90: #3f8cff;

  // transition-delay
  --transition-delay-extra-fast: 100ms;
  --transition-delay-fast: 300ms;
  --transition-delay-middle: 600ms;

  // container
  --width-container: 1430px;
  --padding-container: 15px;
}

[id='dark'] {
  --color-default: #fff;
  --color-default-invert: #121212;
  --bg: #1d2124;
  --bg-dark: #181c1f;
  --color-neutral-60: #444;
  --color-neutral-80: #fff;
}
