.clientList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-white);
  border-radius: 20px;
  transition: background-color var(--transition-delay-fast);

  .title {
    font-size: 26px;
    font-weight: 700;
    color: var(--color-neutral-80);
  }

  .isEmpty {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-light-gray);
  }
}
