.clientList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--color-white);
  border-radius: 20px;

  h2 {
    font-size: 26px;
    font-weight: 700;
    color: var(--color-neutral-80);
  }
}
