.layout {
  display: block;
  .content {
    display: flex;
    grid-template-columns: 230px, 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    grid-template-areas: "sidebar main";

    .main {
      grid-area: "main";
      width: 100%;
    }
  }
}
