.title {
  padding-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: center;
  width: 580px;
  padding: 80px;
  margin: 0 auto;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 0 25px 0 rgb(0 0 0 / 0.16);
}

.footer {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
