.text {
  color: var(--color-default);

  &__small {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
  }

  &__medium {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
  }
}
