.box {
  position: relative;
  margin-left: 10px;
}

.label {
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  height: 30px;
  width: 60px;
  border-radius: 50px;
  background-color: var(--color-neutral-80);
  transition: background-color var(--transition-delay-fast);
  &:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--color-white);
    transition: var(--transition-delay-fast);
  }
}

.input {
  display: none;
  &:checked + label:after {
    left: 35px;
  }
}
