.page {
  position: absolute;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: min-content;
  padding-bottom: 6vh;
}

@media screen and (width <= 600px) {
  .page {
    padding: 0 3vw;
    padding-bottom: 6vh;
  }
}
