@import '../../../shared/styles/mixins';

.page {
  position: absolute;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: min-content;
  padding-bottom: 6vh;

  @include mobile {
    padding: 0 6vw !important;
  }

  @include tablet {
    padding: 0 9vw;
  }
}
