@mixin size($paddingVer, $paddingHor, $radius) {
  padding: #{$paddingVer}px #{$paddingHor}px;
  border-radius: #{$radius}px;
}

@mixin color($color) {
  color: $color;
  border-color: $color;

  svg {
    path {
      stroke: $color;
    }
  }
}

.button {
  transition: 0.3s !important;
  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-light-gray);
  }
}

.primary {
  color: var(--color-white);
  background: var(--color-primary-90);
  transition:
    box-shadow var(--transition-delay-fast) ease,
    opacity var(--transition-delay-fast) ease;

  svg {
    width: 20px;

    path {
      stroke: var(--color-white);
    }
  }

  &:hover {
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
  }

  &:active {
    opacity: 0.9;
  }

  &_m {
    @include size(20, 40, 10);
  }

  &_s {
    @include size(10, 20, 10);
  }

  &_xs {
    @include size(5, 10, 5);
  }
}

.secondaryWhite {
  @include color(var(--color-white));
}

.secondaryBlue {
  @include color(var(--color-primary-90));
}

.secondary,
.secondaryWhite,
.secondaryBlue {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-neutral-100);
  transition:
    box-shadow var(--transition-delay-fast) ease,
    opacity var(--transition-delay-fast) ease;

  svg {
    width: 20px;

    path {
      stroke: var(--color-neutral-100);
    }
  }

  &:hover {
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.2);
  }

  &:active {
    box-shadow: none;
  }

  &_m {
    @include size(20, 40, 10);
  }

  &_s {
    @include size(10, 20, 10);
  }

  &_xs {
    @include size(5, 10, 5);
  }
}
