{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 3,
  "endOfLine": "lf",
  "arrowParens": "always",
  "parser": "typescript"
}