
@mixin transfrom-scale($name, $start, $end) {

  @keyframes #{$name}{
    0% {
      transform: scale($start);
    }

    100% {
      transform: scale($end);
    }
  }
}

@mixin transfrom-translate($name, $start1, $end1, $start2, $end2) {

  @keyframes #{$name}{
    0% {
      transform: translate(#{$start1}px, #{$end1}px);
    }

    100% {
      transform: translate(#{$start2}px, #{$end2}px);
    }
  }
}

@mixin width-height($width, $height) {
  width: #{$width}px;
  height: #{$height}px;
}

@mixin child-animation($left, $animation) {
  left: #{$left}px;
  animation: #{$animation} var(--transition-delay-middle) infinite;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100svh;
}

.loader {
  position: relative;
  display: inline-block;

  @include width-height(80, 60)
}

.circle {
  position: absolute;
  background: var(--color-primary-90);
  border-radius: 50%;

  @include width-height(13, 13);

  &:nth-child(1) {

    @include child-animation(8, lds-ellipsis1);
  }

  &:nth-child(2) {

    @include child-animation(8, lds-ellipsis2-default);
  }

  &:nth-child(3) {

    @include child-animation(32, lds-ellipsis2-default);
  }

  &:nth-child(4) {

    @include child-animation(56, lds-ellipsis3);
  }
}

.white-loader {
  .loader {
    .circle {
      background: var(--color-white);
    }
  }
}

.small-loader .loader .circle {

  @include width-height(7, 7);
}

.big-loader .loader .circle {

  @include width-height(20, 20);
}

.small-loader .loader .circle:nth-child(2) {

  @include child-animation(8, lds-ellipsis2-small);
}

.small-loader .loader .circle:nth-child(3) {

  @include child-animation(24, lds-ellipsis2-small);
}

.small-loader .loader .circle:nth-child(4) {

  @include child-animation(40, lds-ellipsis3);
}

.big-loader .loader .circle:nth-child(2) {

  @include child-animation(8, lds-ellipsis2-big);
}

.big-loader .loader .circle:nth-child(3) {

  @include child-animation(38, lds-ellipsis2-big);
}

.big-loader .loader .circle:nth-child(4) {

  @include child-animation(68, lds-ellipsis3);
}

@include transfrom-scale(lds-ellipsis1, 0, 1);

@include transfrom-scale(lds-ellipsis3, 1, 0);

@include transfrom-translate(lds-ellipsis2-small, 0, 0, 16, 0);

@include transfrom-translate(lds-ellipsis2-default, 0, 0, 24, 0);

@include transfrom-translate(lds-ellipsis2-big, 0, 0, 30, 0);