
@mixin size($width, $height, $font) {
    width: #{$width}px;
    height: #{$height}px;
    font-size: #{$font}px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &__s {
        @include size(20, 20, 12);
    }

    &__m {
        @include size(40, 40, 20);
    }

    &__white {
        background: var(--color-counter-bg);
    }
    
    &__yellow {
        background: var(--color-counter-yellow-bg);
    }
}