@mixin sizes($gap, $font-s, $font-w, $height, $width) {
  gap: #{$gap}px;
  font-size: #{$font-s}px;
  font-weight: $font-w;

  svg {
    width: #{$width}px;
    height: #{$height}px;
  }
}

.icon-with-title {
  display: flex;
  align-items: center;

  &__small {
    @include sizes(5, 12, 400, 16, 16);
  }

  &__medium {
    text-transform: uppercase;

    @include sizes(10, 18, 500, 40, 40);
  }
}
