.card {
  display: flex;
  column-gap: 10px;
  align-items: center;
  width: 200px;
  height: 45px;
  padding: 0 5px;
  cursor: pointer;
  user-select: none;

  &__active {
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 200px;
    height: 45px;
    padding: 0 5px;
    cursor: pointer;
    user-select: none;
    background: var(--color-light-blue);
    border-radius: 10px;
  }
}
