.item {
  display: flex;
  position: relative;
  height: 45px;
  align-items: center;
  column-gap: 10px;
}

.stick {
  display: block;
  right: 0;
  position: absolute;
  width: 4px;
  height: 50px;
  background: #3f8cff;
  border-radius: 10px;
}
