@mixin flex-gap-and-dir($gap, $flexdir) {
  display: flex;
  flex-direction: $flexdir;
  gap: #{$gap}rem;
}

.client {
  @include flex-gap-and-dir(0.8, row);

  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  color: var(--color-neutral-80);
  border: 2px solid var(--color-neutral-60);
  border-radius: 20px;
}

.info {
  @include flex-gap-and-dir(1, column);

  &__name {
    @include flex-gap-and-dir(0.5, row);

    font-size: 18px;
    font-weight: 500;
  }
}

.additional {
  @include flex-gap-and-dir(1, row);

  &__item {
    font-weight: 500;
  }

  &__title {
    color: var(--color-neutral-60);
  }
}

.contacts {
  @include flex-gap-and-dir(1, column);

  &__email,
  &__mobile {
    font-weight: 500;
    transition: color var(--transition-delay-extra-fast);

    &:hover {
      color: var(--color-primary-90);
    }
  }
}

.button {
  white-space: nowrap;
}
