.entity-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 150px;
  padding: 20px;
  background: var(--color-white);
  border: 2px solid var(--color-light-border);
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.icon {
  svg {
    path {
      stroke: var(--color-neutral-100);
    }
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.counter-row {
  display: flex;
  gap: 5px;
  align-items: center;
}
