.title {
   padding-bottom: 40px;
}

.form {
   margin: 0 auto;
   width: 580px;

   display: flex;
   padding: 80px;
   flex-direction: column;
   justify-content: center;
   gap: 20px;

   border-radius: 20px;
   background: var(--color-white);
   box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
}

.footer {
   display: flex;
   align-items: center;
   gap: 20px;
}