.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.input {
  flex: 0 1 calc(50% - 2rem);
}

.gender {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  &__row {
    display: flex;
    gap: 1rem;

    input {
      accent-color: var(--color-primary-90);
    }
  }
}
