.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.input {
  flex: 0 1 calc(50% - 2rem);
}

.gender {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;

  input {
    accent-color: var(--color-primary-90);
  }
}
